.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
ul {
  margin: 0;
}

@font-face {
  font-family: 'HNewYork'; // <-好きな名前をつけれます。
  src: url('~/assets/font/Andrew_Footit_Hudson_NY_Serif.otf') format('opentype');
}
